@{
    ViewBag.Title = "RP - Rehabilitación";
}

<div class="jumbotron">
    <h1>Rehabilitación</h1>
    <p class="lead">Módulo de Rehabilitación y Medicina física</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ficha de Evolución</h2>
        <p>
           Puede administrar las opciones de registro de ficha y terapia
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Diagnósticos</h2>
        <p>Puede registrar el diagnóstico de un paciente</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Más Opciones</h2>
        <p>Acceso a otros módulos</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver más &raquo;</a></p>
    </div>
</div>