

@using RP.Mvc.Models;
@{
    ViewBag.Title = "Ficha de evolución";
}
<h2>&nbsp;</h2>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Paciente</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>
<p>Desde este módulo puede registrar la evolución del paciente</p>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Paciente
            </div>
            <div class="panel-body">


                <div class="col-sm-12">
                    <h4>Nicole Pearson</h4>
                    <p>
                        <strong>Historia Clínica: </strong> XXXXXXX
                    </p>

                    <ul class="list-unstyled">
                        <li>Fecha de nacimento: </li>
                        <li>Edad: </li>
                        <li>Nro. de Telefono: </li>
                        <li>Email: </li>
                    </ul>

                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-xs">Buscar nuevo paciente</button>
                </div>


            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Diagnóstico
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <select class="form-control input-sm">
                        <option>S52-5 - Fractura de muñeca</option>
                    </select>
                </div>
                <div class="row-fluid">&nbsp;</div>
                    <div class="col-md-4">
                        <p>Fecha</p>
                    </div>
                    <div class="col-md-8">
                        <p>01/01/2017</p>
                    </div>
                    <div class="col-md-4">
                        <p>Médico</p>
                    </div>
                    <div class="col-md-8">
                        <p>Mark Otto</p>
                    </div>

                    <div class="col-md-4">
                        <p>Detalle</p>
                    </div>
                    <div class="col-md-8">
                        <p>Detalle del diagnóstico</p>
                    </div>

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Progreso
            </div>
            <div class="panel-body">


                <div class="col-md-4">
                    <p>Programadas</p>
                </div>

                <div class="col-md-4">
                    <p>Atendidas</p>
                </div>

                <div class="col-md-4">
                    <p>Pendientes</p>
                </div>




                <div class="col-md-4">
                    <p>12</p>
                </div>
                <div class="col-md-4">
                    <p>3</p>
                </div>
                <div class="col-md-4">
                    <p>9</p>
                </div>


                <div class="col-md-12">
                    <canvas id="lineChart"></canvas>


                </div>
                </div>
            
        </div>
    </div>



    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Registro de evolución
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-2">
                        <p># Sesión</p>
                    </div>
                    <div class="col-md-2">
                        <p>4</p>
                    </div>
                    <div class="col-md-2">
                        <p>Fecha programada</p>
                    </div>
                    <div class="col-md-2">
                        <p>01/01/2017</p>
                    </div>

                    <div class="col-md-2">
                        <p>Hora</p>
                    </div>
                    <div class="col-md-2">
                        <p>10:00</p>
                    </div>

                </div>
                <hr/>

                <div class="row">

                    <div class="col-md-2">
                        <p>Terapista</p>
                    </div>
                    <div class="col-md-10">
                        <p>Kevin Rodbae Kratos</p>
                    </div>
                    <div class="col-md-4">
                        <p>Fecha programada</p>
                    </div>
                    <div class="col-md-8">
                        <p>01/01/2017</p>
                    </div>
                    <div class="col-md-4">
                        <p>Grado de satisfacción del paciente</p>
                    </div>
                    <div class="col-md-8">
                        <p><select><option>Satisfecho</option><option>Medianamente Satisfecho</option><option>Insatisfecho</option></select></p>
                    </div>
                    <div class="col-md-12">
                        <p>Observaciones</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea class="form-control" style="min-width: 100%" maxlength="500" id="tratamiento" rows="2"></textarea>
                    </div>
                    <div class="col-md-12">
                        <p>Recomendaciones</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea class="form-control" style="min-width: 100%" maxlength="1500" id="tratamiento" rows="2"></textarea>
                    </div>
                </div>

                <br/>
                <div >
                    <button type="button" class="btn btn-primary btn-xs">Registrar resultado de sesión</button>
                </div>
            </div>
        </div>


        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Terapista</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Kevin Rodbae Kratos</span>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong># de sesión</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>3</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Aplicaciones</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Magneto / Masajes / Radioterapia</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Puntaje Obtenido</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>4</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Observaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Recomendaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>

            </div>
        </div>


        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Terapista</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Kevin Rodbae Kratos</span>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong># de sesión</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>2</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Aplicaciones</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Magneto / Masajes / Radioterapia</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Puntaje Obtenido</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>4</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Observaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Recomendaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Terapista</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Kevin Rodbae Kratos</span>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong># de sesión</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>2</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Aplicaciones</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>Magneto / Masajes / Radioterapia</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Puntaje Obtenido</strong></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <span>4</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Observaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <label><strong>Recomendaciones</strong></label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 form-group">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-session').datepicker({
                weekStart: 1,
                format: 'dd/mm/yyyy',
                autoclose: true
            }).on('changeDate', function (selected) {
                date = new Date(selected.date.valueOf());
                var objetoSelectHora = $(this).parent().parent().find(".select-hora");
                var fecha = formatoFecha(date);
                //cargarHoras(objetoSelectHora, fecha);
                fechaSeleccionada = fecha;
            });
        });

        Number.prototype.padLeft = function (base, chr) {
            var len = (String(base || 10).length - String(this).length) + 1;
            return len > 0 ? new Array(len).join(chr || '0') + this : this;
        }

        function formatoFecha(d) {
            dformat = [(d.getMonth() + 1).padLeft(),
                        d.getDate().padLeft(),
                        d.getFullYear()].join('-');
            return dformat;
        }


        //line
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: "My Second dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });


    </script>
}
