
@using RP.Mvc.Models;
@{
    ViewBag.Title = "Gestión de pacientes";
}
<h2>&nbsp;</h2>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Paciente</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>
<p>Desde este módulo puede registrar citas y diagnósticos</p>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Paciente
            </div>
            <div class="panel-body">


                <div class="col-md-12">
                    <h4 id="nombrePaciente"></h4>

                    <!--
                    <ul class="list-unstyled">
                        <li><strong>Fecha de nacimento:</strong> <span id="fechaNacimiento"></span></li>
                        <li><strong>Edad:</strong> <span id="edadPaciente"></span></li>
                        <li><strong>Nro. de Telefono:</strong> <span id="nroTelefonoPaciente"></span></li>
                        <li><strong>Email:</strong> <span id="emailPaciente"></span></li>
                    </ul>
                    -->
                </div>
                <div class="col-md-12"><hr /></div>
                <div class="col-md-6">
                    <p>Historia Clínica</p>
                </div>
                <div class="col-md-6">
                    <p id="historiaPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Fec. Nacimiento</p>
                </div>
                <div class="col-md-6">
                    <p id="fechaNacimiento"></p>
                </div>
                <div class="col-md-6">
                    <p>Edad</p>
                </div>
                <div class="col-md-6">
                    <p id="edadPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Nro. de Telefono</p>
                </div>
                <div class="col-md-6">
                    <p id="nroTelefonoPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Email</p>
                </div>
                <div class="col-md-6">
                    <p id="emailPaciente"></p>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-block btn-primary btn-xs">Buscar otro paciente</button>
                    <!--<button type="button" class="btn btn-secondary btn-xs">Buscar otro médico</button>-->
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Médicos frecuentes
            </div>
            <div class="panel-body">


                <div id="tablaMedicosRecomendados">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Médico</th>
                                    <th># Atenciones</th>
                                    <th>Sel</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                

                <div class="col-sm-12">
                    <button onclick="javascript:openModal(this);" class="btn btn-block btn-primary btn-xs">Agendar con este médico</button>
                    <!--<button type="button" class="btn btn-block btn-primary btn-xs">Agendar con este médico</button>-->
                    <!--<button type="button" class="btn btn-secondary btn-xs">Buscar otro médico</button>-->
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Último diagnóstico
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <p id="tipoUltimoDiagnostico"></p>
                </div>

                <div class="col-md-4">
                    <p>Médico:</p>
                </div>
                <div class="col-md-8">
                    <p id="medicoUltimoDiagnostico"></p>
                </div>

                <div class="col-md-12">
                    <p>Detalle:</p>
                </div>
                <div class="col-md-12">
                    <p id="detalleUltimoDiagnostico"></p>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-8" id="listaCitas">
        <div class="panel panel-default" id="frmRegCita">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Registro de citas
            </div>

            <div class="panel-body">
                <div class="row" id="formCita">


                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <label for="fechaCita">Fecha</label>
                        <input type="text" class="form-control input-sm date-session" id="fechaCita">
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                        <label for="turnoCita">Turno</label>
                        <select id="turnoCita" class="form-control input-sm" onchange="populateHours()">
                            <option value="0">Seleccione</option>
                            <option value="1">Mañana</option>
                            <option value="2">Tarde</option>
                        </select>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                        <label for="horaCita">Hora</label>
                        <select id="horaCita" class="form-control input-sm">
                            <option>Seleccione</option>
                        </select>


                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-xs" id="btnBuscar">Buscar médicos</button>
                </div>
                <br/>
                <div class="hide" id="tablaProfesionales">
                    <div>
                        <strong>Médicos disponibles</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Médico</th>
                                <th>Sel</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-xs"  onclick="javascript:guardarCita(this);">Agendar cita</button>
                        <button type="button" class="btn btn-secondary btn-xs">Cancelar</button>

                    </div>
                </div>

            </div>
        </div>


    </div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agendar Cita</h4>
            </div>
            <div class="modal-body">

                <div class="panel-body">


                    <div class="col-md-6">
                        <p>Médico:</p>
                    </div>
                    <div class="col-md-6">
                        <p>JOSUE MENDOZA CUETO</p>
                    </div>

                    <div class="col-md-6">
                        <p>Fecha</p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control input-sm date-session" id="fechaCitaRecomendada" placeholder="01/01/2017">
                    </div>
                    <div class="col-md-6">
                        <p>Hora</p>
                    </div>

                    <div class="col-md-6">
                        <select id="horaCitaRecomendada" class="form-control input-sm btn-xs">
                            <option>Seleccione</option>
                            <option>10:00</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Agendar Cita</button>
                </div>
            </div>

        </div>
    </div>
</div>



    <div id="myModalDiagnostico" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro de Diagnóstico</h4>
                </div>
                <div class="modal-body">

                    <div class="panel-body">
                        <input type="hidden" id="idCita" value="0">

                        <div class="col-md-12">
                            <p><strong>Diagnóstico</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <select id="idDiagnostico" class="form-control input-sm" onchange="populateAgentesRecomendados()">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Detalle</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="col-md-4 col-sm-4 col-xs-12 form-group " style="min-width: 100%" maxlength="500" id="detDiagnostico" rows="3"></textarea>
                        </div>
                        <br/>
                        <hr/>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <p><strong>Plan de tratamiento</strong></p>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <label for="nroSesiones"># de Sesiones</label>
                            <input type="number" min="6" max="30" value="6" class="form-control input-sm" id="nroSesiones" >

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <label for="vecesXsemana">Veces por semana</label>
                            <select id="vecesXsemana" class="form-control input-sm">
                                <option value="0">Seleccione</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <label for="fechaInicio">Fecha 1ra. Terapia</label>
                            <input type="text" class="form-control input-sm date-session" id="fechaInicio">
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <p><strong>Agentes físicos</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" id="checkboxesAgentes">
                        </div>

                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" onclick="javascript:guardarDiagnostico(this);">Guardar</button>
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        var apiURL = "http://localhost:53229/api/";
        var fechaSeleccionada = "";
        $(document).ready(function() {
            $('.date-session').datepicker({
                weekStart: 1,
                format: 'dd/mm/yyyy',
                autoclose: true,
                minDate: new Date()

            }).on('changeDate', function (selected) {
                date = new Date(selected.date.valueOf());
                var objetoSelectHora = $(this).parent().parent().find(".select-hora");
                var fecha = formatoFecha(date);
                fechaSeleccionada = fecha;
            });

            $("#btnBuscar").click(function () { buscarProfesionales(); });

        });

        var numDoc = 45858596;
        var idPaciente = 1;
        function obtenerPaciente(numDoc) {
            var urlBuscarPaciente = apiURL + "paciente/buscar/1/" + numDoc;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data == null) {
                        return;
                    }
                    $("#nombrePaciente").text(data.NOMBRE);
                    $("#historiaPaciente").text(data.cNroHistoriaClinica);
                    $("#fechaNacimiento").text(convertirFecha(data.dFechaNacimiento));
                    $("#edadPaciente").text(data.nEdad);
                    $("#emailPaciente").text(data.cEmail);
                    $("#nroTelefonoPaciente").text(data.cNroTelefono);
                    $("#idPaciente").text(data.cNroTelefono);

                    obtenerMedicos(idPaciente);
                    obtenerUltimoDiagnostico(idPaciente);
                    obtenerCitas(idPaciente);
                }
            });
        }

        obtenerPaciente(numDoc);
        function obtenerMedicos(idPaciente) {
            var urlBuscarPaciente = apiURL + "gestionpaciente/medicosFrecuentes/" + idPaciente;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data.length > 0) {
                        $.each(data, function(i, item) {
                            jQuery("#tablaMedicosRecomendados tbody").append('<tr>' + '<td>' + parseInt(i + 1) + '</td>' + '</td>' + '<td>' + item.nombre + '</td>' + '<td>' + item.nroAtenciones + '</td>' + '<td>' + '<input type="radio" name="medRecomendadoSeleccionado" value="' + item.nProfesionalId + '">' + '</td>' + '</tr>');
                        });
                    }

                }
            });
        }
        function obtenerUltimoDiagnostico(idPaciente) {
            var urlBuscarPaciente = apiURL + "gestionpaciente/ultimoDiagnostico/" + idPaciente;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data == null) {
                        return;
                    }
                    $("#tipoUltimoDiagnostico").text(data.cMaestroDescripcion);
                    $("#medicoUltimoDiagnostico").text(data.nombreMedico);
                    $("#detalleUltimoDiagnostico").text(data.cDetalleDiagnostico);
                }
            });
        }
        function buscarProfesionales() {
            var turno = $("#turnoCita").val();
            var hora = $("#horaCita").val();
            var horamod = hora.replace(":", "");

            var urlProfesionales = apiURL + "general/profesionales/" + fechaSeleccionada + "/" + turno + "/" + horamod + "/1";
            $.ajax({

                url: urlProfesionales,
                success: function(data) {
                    $('#tablaProfesionales tr').not(function () { return !!$(this).has('th').length; }).remove();
                    $("#tablaProfesionales").addClass("hide");

                    if (data.length > 0) {
                        $("#tablaProfesionales").removeClass("hide");
                        $.each(data, function(i, item) {
                            jQuery("#tablaProfesionales tbody").append('<tr>' + '<td>' + parseInt(i + 1) + '</td>' + '</td>' + '<td>' + item.nombre + '</td>' + '<td>' + '<input type="radio" name="rbMedico" value="' + item.nProfesionalId + '|' + item.nDetPlanServicioId + '">' + '</td>' + '</tr>');
                        });
                    } else {
                       ezBSAlert({
                            messageText: "No se encontraron médicos disponibles",
                            alertType: "danger"
                        });
                    } 
                }
            });

        }
        function obtenerCitas(idPaciente) {
            var urlListarCitas = apiURL + "gestionpaciente/citas/" + idPaciente;
            $.ajax({
                url: urlListarCitas,
                success: function(data) {
                    if (data.length > 0) {
                        $.each(data, function(i, item) {

                            if (item.estadoCita === 'PROGRAMADA') {
                                //$("#frmRegCita").addClass("hide");
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-primary">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="pull-right">' +
                                    '<button type="button" class="btn btn-primary btn-xs"  onclick="javascript:openModalDiagnostico(' + item.nCitaId + ');">Registrar diagnóstico</button>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else 
                            if (item.estadoCita === 'ATENDIDA') {

                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-default">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Diagnóstico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-9 col-sm-9 col-xs-12 form-group">' +
                                    '<span>' + item.tipoDiagnostico + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Detalle</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-9 col-sm-9 col-xs-12 form-group">' +
                                    '<span>' + item.cDetalleDiagnostico + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else {
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-danger">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha Programada</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dFecha + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            }


                    });
        }

        }
        });
    }
        function populateHours() {
            var turno = $("#turnoCita").val();
            $('#horaCita').empty();

            if (turno == 1) {
                jQuery("#horaCita").append(
                    '<option value="08:30">08:00</option>' +
                    '<option value="08:30">08:30</option>' +
                    '<option value="09:00">09:00</option>'+
                    '<option value="09:30">09:30</option>'+
                    '<option value="10:00">10:00</option>'+
                    '<option value="10:30">10:30</option>'+
                    '<option value="11:00">11:00</option>'+
                    '<option value="11:30">11:30</option>'+
                    '<option value="12:00">12:00</option>'+
                    '<option value="12:30">12:30</option>'
                );                
            } else if (turno == 2) {
                jQuery("#horaCita").append(
                    '<option value="14:00">14:00</option>' +
                    '<option value="14:30">14:30</option>' +
                    '<option value="15:00">15:00</option>' +
                    '<option value="15:30">15:30</option>' +
                    '<option value="16:00">16:00</option>' +
                    '<option value="16:30">16:30</option>' +
                    '<option value="17:00">17:00</option>' +
                    '<option value="17:30">17:30</option>' +
                    '<option value="18:00">18:00</option>' +
                    '<option value="18:30">18:30</option>'
                );
            }
            else {
                $('#horaCita').empty();
            }


        }
        function guardarCita(objeto) {

            var idPaciente = 1;

            var fechaCita = $("#fechaCita").val();
            var turnoCita = $("#turnoCita").val();
            var horaCita = $("#horaCita").val();
            var medicoDetallePlan = $("input[name=rbMedico]:checked").val();

            if (medicoDetallePlan == undefined) {
                ezBSAlert({
                    messageText: "Debe seleccionar un médico",
                    alertType: "warning"
                });
                return;
            };

            var res = medicoDetallePlan.split("|");
            var idProfesional = res[0];
            var idDetPlanServicio = res[1];




            if (fechaCita === 0 || horaCita === 0) {
                ezBSAlert({
                    messageText: "Debe ingresar todos los datos requeridos (*)",
                    alertType: "danger"
                });
                return;
            };

            ezBSAlert({
                type: "confirm",
                messageText: "¿Desea agendar la cita?",
                alertType: "info"
            }).done(function (e) {
                console.log("e: " + e);
                if (e) {
                    var grabar = apiURL + "gestionpaciente/grabarCita";

                    var param = {
                        idPaciente: idPaciente,
                        idProfesional: idProfesional,
                        fechaCita: fechaCita,
                        horaCita: horaCita,
                        idDetPlanServicio: idDetPlanServicio
                    };
                    console.log(param);
                    $.ajax({
                        url: grabar,
                        method: "POST",
                        data: param,
                        success: function (data) {
                            ezBSAlert({
                                messageText: "La cita fue agendada correctamente",
                                alertType: "info"

                            });
                            location.reload();
                        }
                    });
                }
            });


        }
        function openModal(objeto) {
            $('#myModal').modal('show');
        }
        function openModalDiagnostico(idCita) {
            $("#idCita").val(idCita);
            $('#myModalDiagnostico').modal('show');   
        }


        function loadModalDiagnostico() {
            var urlDiagnosticos = apiURL + "general/obtenerMaestro/TIP_DIAGNOSTICO";
            $.ajax({

                url: urlDiagnosticos,
                success: function (data) {

                    if (data.length > 0) {
                        $.each(data, function (i, item) {

                            jQuery("#idDiagnostico").append(
                                '<option value="' + item.nItemId + '">' + item.cMaestroDescripcion + '</option>'
                            );
                        });
                    }
                }
            });

            var urlAgentes = apiURL + "general/obtenerMaestro/AGE_FISICO";
            $.ajax({

                url: urlAgentes,
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (i, item) {

                            jQuery("#checkboxesAgentes").append(
                                '<label class="checkbox-inline"><input id="chckAgente' + item.nItemId + '"'+ ' type="checkbox" value="' + item.nItemId + '">' + item.cMaestroDescripcion + '</label>'
                            );
                        });
                    }
                }
            });

        }

        loadModalDiagnostico();
        function populateAgentesRecomendados() {
            var idDiagnostico = $("#idDiagnostico").val();

            var urlAgentesRecomendados = apiURL + "general/agentesRecomendados/" + idDiagnostico;
            $.ajax({

                url: urlAgentesRecomendados,
                success: function (data) {

                    if (data.length > 0) {
                        $.each(data, function(i, item) {
                            $("#chckAgente" + item.nItemId).prop('checked', true);
                        });
                    } else {
                        $('input:checkbox').removeAttr('checked');
                    }
                }
            });

        }
        function guardarDiagnostico(objeto) {

            var idCita = $("#idCita").val();
            var idDiagnostico = $("#idDiagnostico").val();
            var detDiagnostico = $("#detDiagnostico").val();
            var nroSesiones = $("#nroSesiones").val();
            var vecesXsemana = $("#vecesXsemana").val();
            var fechaInicio = $("#fechaInicio").val();

            ezBSAlert({
                type: "confirm",
                messageText: "¿Desea registrar el diagnóstico?",
                alertType: "info"
            }).done(function (e) {

                if (e) {
                    var grabar = apiURL + "gestionpaciente/grabarDiagnostico";

                    var param = {
                        idCita: idCita,
                        idDiagnostico: idDiagnostico,
                        detDiagnostico: detDiagnostico,
                        nroSesiones: nroSesiones,
                        vecesXsemana: vecesXsemana,
                        fechaInicio: fechaInicio
                    };
                    console.log(param);
                    $.ajax({
                        url: grabar,
                        method: "POST",
                        data: param,
                        success: function (data) {
                            console.log(data);
                            ezBSAlert({
                                messageText: "El diagnóstico fue registrado correctamente",
                                alertType: "info"
                            });
                            //location.reload();
                        }
                    });
                }
            });


        }


           //--------------------------------------------- UTILS -----------------------------------------------

           function convertirFecha(date) {
               if (typeof date == "string")
                   date = new Date(date);
               var day = (date.getDate() <= 9 ? "0" + date.getDate() : date.getDate());
               var month = (date.getMonth() + 1 <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1));
               var dateString = day + "/" + month + "/" + date.getFullYear();

               return dateString;
           }

           function formatoFecha(d) {
               dformat = [(d.getMonth() + 1).padLeft(),
                           d.getDate().padLeft(),
                           d.getFullYear()].join('-');
               return dformat;
           }

           Number.prototype.padLeft = function (base, chr) {
               var len = (String(base || 10).length - String(this).length) + 1;
               return len > 0 ? new Array(len).join(chr || '0') + this : this;
           }


    </script>
}
