@using RP.Mvc.Models;
@{
    ViewBag.Title = "Plan de tratamiento";
}
<h2>&nbsp;</h2>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Paciente</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>
<p>Desde este módulo puede administrar citas del tratamiento</p>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Paciente
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h4 id="nombrePaciente"></h4>
                </div>
                <div class="col-md-12"><hr/>
                </div>
                <div class="col-md-6">
                    <p>Historia Clínica</p>
                </div>
                <div class="col-md-6">
                    <p id="historiaPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Fec. Nacimiento</p>
                </div>
                <div class="col-md-6">
                    <p id="fechaNacimiento"></p>
                </div>
                <div class="col-md-6">
                    <p>Edad</p>
                </div>
                <div class="col-md-6">
                    <p id="edadPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Nro. de Telefono</p>
                </div>
                <div class="col-md-6">
                    <p id="nroTelefonoPaciente"></p>
                </div>
                <div class="col-md-6">
                    <p>Email</p>
                </div>
                <div class="col-md-6">
                    <p id="emailPaciente"></p>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-block btn-primary btn-xs">Buscar otro paciente</button>
                    <!--<button type="button" class="btn btn-secondary btn-xs">Buscar otro médico</button>-->
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Diagnóstico
            </div>
            <div class="panel-body" id="seccionDiagnostico">
                <div id="diagnosticosPaciente" class="hide">
                    <div class="col-md-12">
                        <select class="form-control input-sm" id="listDiagnosticos" onchange="showPlanTratamiento(this.value)">
                            <option value="0">Seleccione</option>
                        </select>
                    </div>
                    <div class="row-fluid">&nbsp;</div>
                    <div class="col-md-4">
                        <p>Fecha</p>
                    </div>
                    <div class="col-md-8">
                        <p id="fechaDiagnostico">&nbsp;</p>
                    </div>
                    <div class="col-md-4">
                        <p>Médico</p>
                    </div>
                    <div class="col-md-8">
                        <p id="nombreMedico">&nbsp;</p>
                    </div>

                    <div class="col-md-4">
                        <p>Detalle</p>
                    </div>
                    <div class="col-md-8">
                        <p id="detalleDiagnostico">&nbsp;</p>
                    </div>
                    <div class="col-md-4">
                        <p># de sesiones</p>
                    </div>
                    <div class="col-md-8">
                        <p id="nroSesiones">&nbsp;</p>
                    </div>
                    <input type="hidden" id="nroSesionesVal" value="0">
                </div>
            </div>
        </div>
    </div>



<div class="col-lg-8 hide" id="listaCitas">
    <div class="panel panel-default" id="frmRegCita">

        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Registro de citas
        </div>

        <div class="panel-body">
            <div class="row" id="formCita">

                <h4 id="nroSesionHeader">Sesión # </h4>
                <hr/>
                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                    <label for="fechaCita">Fecha programada</label>
                    <input type="text" class="form-control input-sm date-session" id="fechaCita">
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                    <label for="turnoCita">Turno</label>
                    <select id="turnoCita" class="form-control input-sm" onchange="populateHours()">
                        <option value="1">Mañana</option>
                        <option value="2">Tarde</option>
                    </select>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                    <label for="horaCita">Hora</label>
                    <select id="horaCita" class="form-control input-sm">
                    </select>


                </div>

            </div>
            <div>
                <button type="button" class="btn btn-primary btn-xs" id="btnBuscar">Buscar terapistas</button>
            </div>
            <br/>
            <div class="hide" id="tablaProfesionales">
                <div>
                    <strong>Terapistas disponibles</strong>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Terapista</th>
                            <th>Sel</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-xs" onclick="javascript:guardarCita(this);">Agendar cita</button>
                    <button type="button" class="btn btn-secondary btn-xs">Cancelar</button>

                </div>
            </div>

        </div>
    </div>


</div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Recordatorio de asistencia</h4>
                </div>
                <div class="modal-body">

                    <div class="panel-body">
                        <div class="col-md-6">
                            <p><strong>Email paciente</strong></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group ">
                            <p id="emailPacienteModal"></p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Teléfono del paciente</strong></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group ">
                            <p id="nroTelefonoPacienteModal"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" onclick="javascript:enviarRecordatorio(this);">Enviar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div id="myModalDiagnostico" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registro Diagnóstico</h4>
                </div>
                <div class="modal-body">

                    <div class="panel-body">
                        <input type="hidden" id="idCita" value="0">

                        <div class="col-md-12">
                            <p><strong>Diagnóstico</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <select id="idDiagnostico" class="form-control input-sm" onchange="populateAgentesRecomendados()">
                                <option>Seleccione</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Detalle</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="col-md-4 col-sm-4 col-xs-12 form-group " style="min-width: 100%" maxlength="500" id="detDiagnostico" rows="3"></textarea>
                        </div>
                        <br />
                        <hr />
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <p><strong>Plan de tratamiento</strong></p>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <label for="nroSesiones"># de Sesiones</label>
                            <input type="number" min="6" max="30" value="6" class="form-control input-sm" id="nroSesiones">

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                            <label for="vecesXsemana">Veces por semana</label>
                            <select id="vecesXsemana" class="form-control input-sm">
                                <option value="0">Seleccione</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                            <label for="fechaInicio">Fecha 1ra. Terapia</label>
                            <input type="text" class="form-control input-sm date-session" id="fechaInicio">
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <p><strong>Agentes físicos</strong></p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" id="checkboxesAgentes">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" onclick="javascript:guardarDiagnostico(this);">Guardar</button>
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts {
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">


        var numDoc = 45858596;
        var idPaciente = 1;

        var apiURL = "http://localhost:53229/api/";
        var fechaSeleccionada = "";
        $(document).ready(function() {
            $('.date-session').datepicker({
                weekStart: 1,
                format: 'dd/mm/yyyy',
                autoclose: true,
                minDate: new Date()

            }).on('changeDate', function (selected) {
                date = new Date(selected.date.valueOf());
                var objetoSelectHora = $(this).parent().parent().find(".select-hora");
                var fecha = formatoFecha(date);
                fechaSeleccionada = fecha;
            });

            $("#btnBuscar").click(function () { buscarProfesionales(); });

        });

   
        function obtenerPaciente(numDoc) {
            var urlBuscarPaciente = apiURL + "paciente/buscar/1/" + numDoc;
            $.ajax({
                url: urlBuscarPaciente,
                success: function(data) {
                    if (data == null) {
                        return;
                    }
                    $("#nombrePaciente").text(data.NOMBRE);
                    $("#historiaPaciente").text(data.cNroHistoriaClinica);
                    $("#fechaNacimiento").text(convertirFecha(data.dFechaNacimiento));
                    $("#edadPaciente").text(data.nEdad);
                    $("#emailPaciente").text(data.cEmail);
                    $("#nroTelefonoPaciente").text(data.cNroTelefono);

                    $("#emailPacienteModal").text(data.cEmail);
                    $("#nroTelefonoPacienteModal").text(data.cNroTelefono);

                    $("#idPaciente").text(data.cNroTelefono);
                    
                }
            });
        }

        obtenerPaciente(numDoc);

        function loadDiagnosticos() {
            var urlDiagnosticos = apiURL + "gestionpaciente/buscarDiagnosticos/" + idPaciente;
            $.ajax({

                url: urlDiagnosticos,
                success: function (data) {

                    if (data.length > 0) {
                        $("#diagnosticosPaciente").removeClass("hide");
                        $.each(data, function(i, item) {

                            jQuery("#listDiagnosticos").append(
                                '<option value="' + item.nDiagnosticoId + '">' + item.cDetalleDiagnostico + '</option>'
                            );
                        });
                    } else {
                        $("#seccionDiagnostico").append('<h4>El paciente no tiene diagnósticos registrados</h4>');
                    }
                }
            });
        }

        loadDiagnosticos();

        function showPlanTratamiento(idDiagnostico) {


            var urlProfesionales = apiURL + "gestionpaciente/diagnostico/" + idDiagnostico;
            $.ajax({

                url: urlProfesionales,
                success: function(data) {
                    if (data == null) {
                        $("#fechaDiagnostico").text("");
                        $("#detalleDiagnostico").text("");
                        $("#nombreMedico").text("");
                        $("#nroSesiones").text("");
                        return;
                    }
                    $("#fechaDiagnostico").text(data.dFecha);
                    $("#detalleDiagnostico").text(data.cDetalleDiagnostico);
                    $("#nombreMedico").text(data.nombreMedico);
                    $("#nroSesiones").text(data.nNroTerapias);

                    obtenerCitas(idPaciente, idDiagnostico);

                    console.log(parseInt($("#nroSesionesVal").val()));
                    console.log(data.nNroTerapias);
                    if (parseInt($("#nroSesionesVal").val()) > data.nNroTerapias) {
                         $("#frmRegCita").addClass("hide");
                    }
                }
            });


            if (idDiagnostico != 0) {
                $("#listaCitas").removeClass("hide");
            }

            if (idDiagnostico == "0") {
                $("#listaCitas").addClass("hide");
            }
        }


        function buscarProfesionales() {
            var turno = $("#turnoCita").val();
            var hora = $("#horaCita").val();
            var horamod = hora.replace(":", "");


            if (fechaSeleccionada === "") {
                ezBSAlert({
                    messageText: "Debe ingresar una fecha para realizar la búsqueda",
                    alertType: "warning"
                });
                return;
            };

            var urlProfesionales = apiURL + "general/profesionales/" + fechaSeleccionada + "/" + turno + "/" + horamod + "/2";
            $.ajax({

                url: urlProfesionales,
                success: function(data) {
                    $('#tablaProfesionales tr').not(function () { return !!$(this).has('th').length; }).remove();
                    $("#tablaProfesionales").addClass("hide");

                    if (data.length > 0) {
                        $("#tablaProfesionales").removeClass("hide");
                        $.each(data, function(i, item) {
                            jQuery("#tablaProfesionales tbody").append('<tr>' + '<td>' + parseInt(i + 1) + '</td>' + '</td>' + '<td>' + item.nombre + '</td>' + '<td>' + '<input type="radio" name="rbMedico" value="' + item.nProfesionalId + '|' + item.nDetPlanServicioId + '">' + '</td>' + '</tr>');
                        });
                    } else {
                       ezBSAlert({
                            messageText: "No se encontraron terapistas disponibles",
                            alertType: "warning"
                        });
                    }
                }
            });

        }
        function obtenerCitas(idPaciente,idDiagnostico) {
            var citaMax = 0;
            var urlListarCitas = apiURL + "gestionpaciente/citasTratamiento/" + idPaciente+'/'+idDiagnostico;
            $.ajax({
                url: urlListarCitas,
                success: function(data) {
                    if (data.length > 0) {
                        
                        $.each(data, function(i, item) {
                            citaMax = item.RowNumber;
                            if (item.estadoCita === 'PROGRAMADA') {
                                $("#frmRegCita").addClass("hide");
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-primary">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong># Sesión</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + item.RowNumber + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong>Fecha</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + convertirFecha(item.dFecha) + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Terapista</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="pull-right">' +

                                    '<button type="button" class="btn btn-defaukt btn-xs"  onclick="reprogramar(' + item.nDetallePlanTratamientoId + ');">Reprogramar</button>' +
                                    '<button type="button" class="btn btn-primary btn-xs"  onclick="javascript:openModal(' + item.nCitaId + ');">Enviar recordatorio</button>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else
                            if (item.estadoCita === 'ATENDIDA') {

                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-primary">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong># Sesión</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + item.RowNumber + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong>Fecha</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + convertirFecha(item.dFecha) + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-2 col-sm-2 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Terapista</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            } else {
                                jQuery("#listaCitas").append(
                                    '<div class="panel panel-danger">' +
                                    '<div class="panel-body">' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Fecha</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + convertirFecha(item.dFecha) + '</span>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Hora</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.dHora + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Médico</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.nombreProfesional + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="row">' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<label><strong>Estado</strong></label>' +
                                    '</div>' +
                                    '<div class="col-md-3 col-sm-3 col-xs-12 form-group">' +
                                    '<span>' + item.estadoCita + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>'
                                );

                            }


                        });

                       
        }
                    $("#nroSesionHeader").append(citaMax + 1);
                    $("#nroSesionesVal").val(citaMax + 1);

                }
        });
    }
        function populateHours() {
            var turno = $("#turnoCita").val();
            $('#horaCita').empty();

            if (turno == 1) {
                jQuery("#horaCita").append(
                    '<option value="08:30">08:00</option>' +
                    '<option value="08:30">08:30</option>' +
                    '<option value="09:00">09:00</option>'+
                    '<option value="09:30">09:30</option>'+
                    '<option value="10:00">10:00</option>'+
                    '<option value="10:30">10:30</option>'+
                    '<option value="11:00">11:00</option>'+
                    '<option value="11:30">11:30</option>'+
                    '<option value="12:00">12:00</option>'+
                    '<option value="12:30">12:30</option>'
                );
            } else if (turno == 2) {
                jQuery("#horaCita").append(
                    '<option value="14:00">14:00</option>' +
                    '<option value="14:30">14:30</option>' +
                    '<option value="15:00">15:00</option>' +
                    '<option value="15:30">15:30</option>' +
                    '<option value="16:00">16:00</option>' +
                    '<option value="16:30">16:30</option>' +
                    '<option value="17:00">17:00</option>' +
                    '<option value="17:30">17:30</option>' +
                    '<option value="18:00">18:00</option>' +
                    '<option value="18:30">18:30</option>'
                );
            }
            else {
                $('#horaCita').empty();
            }

            
        }
        populateHours();
        function guardarCita(objeto) {
            var fechaCita = $("#fechaCita").val();
            var horaCita = $("#horaCita").val();
            var medicoDetallePlan = $("input[name=rbMedico]:checked").val();
            var idDiagnostico = $("#listDiagnosticos").val();

            if (medicoDetallePlan == undefined) {
                ezBSAlert({
                    messageText: "Debe seleccionar un terapista",
                    alertType: "warning"
                });
                return;
            };

            var res = medicoDetallePlan.split("|");
            var idProfesional = res[0];
            var idDetPlanServicio = res[1];




            if (fechaCita === 0 || horaCita === 0) {
                ezBSAlert({
                    messageText: "Debe ingresar todos los datos requeridos (*)",
                    alertType: "danger"
                });
                return;
            };

            ezBSAlert({
                type: "confirm",
                messageText: "¿Desea agendar la cita?",
                alertType: "info"
            }).done(function (e) {
                console.log("e: " + e);
                if (e) {
                    var grabar = apiURL + "gestionpaciente/grabarCitaSesion";

                    var param = {
                        idPaciente: idPaciente,
                        idProfesional: idProfesional,
                        fechaCita: fechaCita,
                        horaCita: horaCita,
                        idDetPlanServicio: idDetPlanServicio,
                        idDiagnostico: idDiagnostico
                    };
                    console.log(param);
                    $.ajax({
                        url: grabar,
                        method: "POST",
                        data: param,
                        success: function (data) {
                            ezBSAlert({
                                messageText: "La cita fue agendada correctamente",
                                alertType: "info"

                            });
                            //location.reload();
                        }
                    });
                }
            });


        }
        function openModal(objeto) {
            $('#myModal').modal('show');
        }

        function enviarRecordatorio() {
        
            ezBSAlert({
                type: "confirm",
                messageText: "¿Desea enviar el recordatorio?",
                alertType: "info"
            }).done(function (e) {
                console.log("e: " + e);
                if (e) {
                    var grabar = apiURL + "gestionpaciente/enviarRecordatorio";

                    var param = {
                        nroTelefono: "",
                        fecha: "09/09/2017",
                        hora: "12:00",
                        terapista: 'DIEGO HERNANDEZ VILLA',
                        sala: 'A201'
                    };
                    console.log(param);
                    $.ajax({
                        url: grabar,
                        method: "POST",
                        data: param,
                        success: function (data) {
                            ezBSAlert({
                                messageText: "El recordatorio fue enviado correctamente",
                                alertType: "info"

                            });
                            //location.reload();
                        }
                    });
                }
            });

        }


           //--------------------------------------------- UTILS -----------------------------------------------

           function convertirFecha(date) {
               if (typeof date == "string")
                   date = new Date(date);
               var day = (date.getDate() <= 9 ? "0" + date.getDate() : date.getDate());
               var month = (date.getMonth() + 1 <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1));
               var dateString = day + "/" + month + "/" + date.getFullYear();

               return dateString;
           }

           function formatoFecha(d) {
               dformat = [(d.getMonth() + 1).padLeft(),
                           d.getDate().padLeft(),
                           d.getFullYear()].join('-');
               return dformat;
           }

           Number.prototype.padLeft = function (base, chr) {
               var len = (String(base || 10).length - String(this).length) + 1;
               return len > 0 ? new Array(len).join(chr || '0') + this : this;
           }


</script>
}

