

@model RP.Mvc.Models.DiagnosticoViewModel
<div class="col-md-12">

    <div class="row">
        <div class="form-horizontal">

            <h3>Nuevo Diagnóstico</h3>

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Fecha diagnóstico</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" readonly="readonly" id="fechaActual"/>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Diagnóstico</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control"  id="diagnostico"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Tratamiento</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" id="tratamiento"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Observaciones</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" id="observaciones"></textarea>
                </div>
            </div>

            <!--<div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Fecha de inicio</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="fechaInicio" class="form-control date-session" />
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Nro. Sesiones</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="sesiones" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label">Periodo</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="periodo" class="form-control" />
                </div>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6 float-right">
                    <input type="button" value="Guardar" name="btnGuardar" id="btnGuardar" onclick="javascript:grabarDiagnostico(this);" class="btn btn-primary btn-sm" />
                    <input type="button" value="Cancelar" name="btnCancelar" id="btnCancelar" class="btn btn-danger btn-sm" />
                </div>
            </div>
        </div>
    </div>











</div>



<script type="text/javascript">




    var apiURL = "http://localhost:53229/api/";
    function grabarDiagnostico(objeto) {
        debugger;
        var grabar = apiURL + "dianostico/grabarDiagnostico";
        var objetoGeneral = $(objeto).parent().parent();
        var hora = $(objetoGeneral).find(".select-hora").val();
        var especialista = $(objetoGeneral).find(".select-especial").val();
        var fecha = fechaSeleccionada;
        var idPaciente = $("#idPaciente").val();
        var param = {
            idPac: idPaciente,
            idEsp: especialista,
            idSes: 1,
            fec: fecha,
            hor: hora,
            obs: ""
        };
        $.ajax({
            url: grabar,
            method: "POST",
            data: param,
            success: function (data) {
                alert(data);
            }
        });
    }


    function grabarDiagnostico(objeto) {
        debugger;
        var grabar = apiURL + "diagnostico/grabarDiagnostico";
        var objetoGeneral = $(objeto).parent().parent();
        var fechaDiagnostico = $(objetoGeneral).find(".fechadiagnostico").val();
        console.log("fechaDiagnostico: " + fechaDiagnostico);
        /*
        var hora = $(objetoGeneral).find(".select-hora").val();
        var especialista = $(objetoGeneral).find(".select-especial").val();
        var fecha = fechaSeleccionada;
        var idPaciente = $("#idPaciente").val();
        var idEspecialista = $("#idPaciente").val();

        var param = {
            idPac: idPaciente,
            idEsp: especialista,
            idSes: 1,
            fec: fecha,
            hor: hora,
            obs: ""
        };
        $.ajax({
            url: grabar,
            method: "POST",
            data: param,
            success: function (data) {
                alert(data);
            }
        });*/
    }
</script>
