<body>
    <div class="container">
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-height="460">
            <thead>
                <tr>
                    <th data-field="id">Item ID</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
