<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SIGH_RPEntities" connectionString="metadata=res://*/SIGH_RPModel.csdl|res://*/SIGH_RPModel.ssdl|res://*/SIGH_RPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OBMLA31\SQLEXPRESS;initial catalog=SIGH_RP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>