@using RP.Mvc.Models;

@model PacienteViewModel

@{
    ViewBag.Title = "Ficha de Evolución";
}

<h2>@ViewBag.Title</h2>

    <section id="busquedaPaciente">
        @Html.Partial("_BusquedaPacientePartial", new PacienteViewModel { ReturnUrl = ViewBag.ReturnUrl })

    </section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var apiURL = "http://localhost:53229/api/";
        $(document).ready(function () {
            $("#btnBuscar").click(function () { buscarInformacionPaciente(); });
        });

        function buscarInformacionPaciente() {
            
            var numDoc = $("#NroDoc").val();
            obtenerPaciente(numDoc);
            obtenerDiagnostico(numDoc);
        }

        function obtenerPaciente(numDoc) {
            var urlBuscarPaciente = apiURL + "fichaEvolucion/buscarPaciente/" + numDoc;
            $.ajax({
                url: urlBuscarPaciente,
                success: function (data) {
                    $("#Nombres").val(data.Nombre);
                    $("#idPaciente").val(data.id);
                    $("#Apellidos").val(data.Ape_Paterno + " " + data.Ape_Materno);
                }
            });
        }

        function obtenerDiagnostico(numDoc) {
            var urlObtenerDiagnostico = apiURL + "fichaEvolucion/buscarDiagnostico/" + numDoc;
            $.ajax({
                url: urlObtenerDiagnostico,
                success: function (data) {
                    $("#MedEspecialista").val(data.NombreEspecialista);
                    $("#MedTerapista").val(data.NombreTerapista);
                    $("#Observaciones").val(data.observacion);
                    crearDiagnosticoDinamico(data.Nro_Sesiones);
                }
            });
        }

        function crearDiagnosticoDinamico(numSesiones) {
            var url = '@Url.Action("PartialSesionesDinamicas", "FichaEvolucion")' + '?numSes=' + numSesiones;
            $("#partialSesionesDinamicas").html("Cargando...").load(url);
        }



        $('#myModal').modal('show');

        $('#my-modal').modal({
            show: 'false'
        });


    </script>
}
