@using RP.Mvc.Models
@model FichaEvolucionModel

@{
    ViewBag.Title = "Ficha de Evolución";
}

<h2>@ViewBag.Title</h2>

    <section id="busquedaPaciente">
        @Html.Partial("_BusquedaPacientePartial", new PacienteViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnBuscar").click(function () { buscarDiagnostico(); });
        });

        function buscarDiagnostico() {
            $.ajax({
                url: '@Url.Action("ObtenerDiagnosticoPaciente","FichaEvolucion")',
                data: { nroDoc: $("#NroDoc").val() },
                success: function (data) {
                    alert(data);
                }
            });
        }




    </script>
}
